<div id="<%= dom_id user %>" >
  <div class="text-rose font-lekton text-3xl flex justify-center items-center">
   
   Spotted by @<%= user.username %>
    <% if current_user == user  %>
    <%= link_to icon('fa fa-pencil-square-o', 'edit'), edit_user_path(user), class: "pr-2 text-sm" %>
    <% end %>
  </div>

</div>
