<div id="<%= dom_id user %>" >
<%= turbo_frame_tag "cat" do %>
  <div class="text-rose font-lekton text-3xl justify-center items-center">
   Spotted by @<%= link_to user.username, user.social_media_url %>
    <% if current_user == user %>
    <% # link_to icon("fa fa-pencil-square-o", "edit"), edit_user_path(user), data: { turbo_frame: "edit_user" }, class: "px-2 text-sm" %>
    <% end %>
      <div class="text-rose font-lekton text-3xl flex-column justify-center items-center">

    <%= render user.cats.ordered_by_love %>
</div>
  </div>
</div>
<% end %>
