<div id="<%= dom_id user %>">
  <p class="my-5 inline text-rose font-lekton text-3xl">
   Spotted by <br> @<%= user.username %>
    <% if current_user_match  %>
    <%= link_to icon('fa fa-pencil-square-o', 'edit'), edit_user_path(user) %>
    <% end %>
  </p>

</div>
