<div class="mx-auto md:w-2/3 w-full flex flex-col items-center">

 <%= link_to root_path do %>
    <%= image_tag asset_path("kittymapapp.png"), class:"object-cover", alt: 'kittymap.app' %>
  <% end %>
  
  <h1 class="font-bold text-3xl font-lekton text-rose">Sign Up</h1>

  <%= render "form", user: @user %>

  </div>
