<div class="mx-auto md:w-2/3 w-full flex flex-col items-center">


 <%= image_tag asset_url("kittymapapp.png"), class:"object-cover", alt: 'kittymap.app' %>



<p class="font-bold text-xl font-lekton text-rose">

Click to sign in! 
<%= @magic_link %> 

</p>
</div>





