<div class="mx-auto md:w-2/3 w-full flex flex-col items-center">

 <%= link_to root_path do %>
    <%= image_tag asset_path("kittymapapp.png"), class:"object-cover", alt: 'kittymap.app' %>
  <% end %>


<p class="font-bold text-xl font-lekton text-rose">

Check your Emeow address for a link to sign in! 

</p>
</div>