<%= turbo_frame_tag "email" do %>
<div class="mx-auto md:w-2/3 w-full flex flex-col items-center">

<p class="font-bold text-xl font-lekton text-rose">

Check your E-Meow address for a link to sign in! 

</p>
<% end %>
</div>